<template>

	<div class="app">
		<form :class="{'on-home': isHomePage, 'off-screen': !searchBarVisible}" v-on:submit.prevent="search()">
			<i :class="{blue: !isHomePage}" class="material-icons" @click="back()">arrow_back</i>
			<input placeholder="Search" v-model="searchQuery" type="text" title="search-input" @keyup.enter="$event.srcElement.blur()">
			<i :class="{red: searchQuery.length > 0}" class="material-icons" @click="search()">search</i>
		</form>

		<transition name="fade" mode="out-in">
			<router-view></router-view>
		</transition>

		<nav :class="{'on-home': isHomePage}">
			<router-link :class="{current: currentPageName == 'home'}" to="/">
				<i class="material-icons">home</i>
			</router-link>

			<router-link :class="{current: currentPageName == 'bookmarks'}" to="/bookmarks">
				<i class="material-icons">star</i>
			</router-link>

			<router-link :class="{current: currentPageName == 'history'}" to="/history">
				<i class="material-icons">history</i>
			</router-link>
		</nav>

	</div>

</template>

<script>

	import Vue from 'vue';

	export default {

		data() {
			return {
				searchQuery: ''
			}
		},

		computed: {
			isHomePage() {
				return this.$route.fullPath === '/';
			},

			searchBarVisible() {
				return this.$route.name === 'home' || this.$route.name === 'search' || this.$route.name === 'volume' || this.$route.name === 'emptySearch'
			},

			currentPageName() {
				return this.$route.name;
			}
		},

		methods: {

			search() {
				if (this.searchQuery === '') alert('Please enter a search term first');
				else this.$router.push('/search/' + this.searchQuery)
			},

			back() {
				window.history.back();
			}

		}
	}

</script>