<template>

	<main class="bookmarks-page">

		<header>
			<i class="material-icons" @click="back">arrow_back</i>
			<h1>Bookmarks</h1>
		</header>

		<p class="no-results" v-if="!hasTechnology">
			Your browser currently doesn't support the technologies need to show or save bookmarks. You shouldn't have the same issues in the latest versions of Chrome or Firefox.
		</p>

		<ul v-else-if="hasResults" class="results-list">
			<li class="result" v-for="result in bookmarks">
				<router-link :to="'/volume/' + result.id">
					<div class="thumbnail">
						<img :src="result.thumbnail">
					</div>
					<div class="info">
						<p v-if="result.volumeInfo.subtitle" class="title">{{ `${result.volumeInfo.title}: ${result.volumeInfo.subtitle}` }}</p>
						<p class="title" v-else>{{ result.volumeInfo.title }}</p>
						<p v-if="result.volumeInfo.authors" class="author">{{ result.volumeInfo.authors.join(', ') }}</p>
					</div>
				</router-link>
			</li>
		</ul>

		<p class="no-results" v-else>
			You haven't bookmarked any items yet, go to a book page and press the star icon on to bookmark it.
		</p>

	</main>

</template>

<script>

	import db from '../api/indexedDBAPI';

	export default {

		data() {
			return {
				hasResults: true,
				hasTechnology: (typeof indexedDB !== 'undefined') && (typeof caches !== 'undefined') //needlessly long as safari throws an error instead
			}
		},

		computed: {

		},

		asyncComputed: {
			bookmarks() {
				const bookmarks = db.getBookmarks();
				bookmarks.then(r => this.hasResults = r.length > 0);
				return bookmarks;
			}
		},

		methods: {
			back() {
				window.history.back();
			}
		}

	}

</script>