<template>

	<main key="test4" class="home-page">
		<img src="/media/logo.svg">
		<h1>Book <span class="red">Worm</span></h1>

		<div class="links">
			<router-link to="/bookmarks">
				<i class="material-icons">star</i>
				<p>Bookmarks</p>
			</router-link>

			<router-link to="/history">
				<i class="material-icons">history</i>
				<p>History</p>
			</router-link>
		</div>

	</main>


</template>

<script>

	export default {

	}

</script>