<template>

	<p v-if="isOffline" class="no-results">
		Search is not available offline. However, your Favourites and History are available.
	</p>

	<p v-else-if="!query" class="no-results">
		Please enter a search term above.
	</p>

	<main key="test2" v-else-if="results && results.length > 0" class="search-page">

		<ul class="results-list">
			<li class="result" v-for="result in results">
				<router-link :to="'/volume/' + result.id">
					<div class="thumbnail">
						<img :src="result.thumbnail">
					</div>
					<div class="info">
						<p v-if="result.volumeInfo.subtitle" class="title">{{ `${result.volumeInfo.title}: ${result.volumeInfo.subtitle}` }}</p>
						<p class="title" v-else>{{ result.volumeInfo.title }}</p>
						<p v-if="result.volumeInfo.authors" class="author">{{ result.volumeInfo.authors.join(', ') }}</p>
					</div>
				</router-link>
			</li>
		</ul>

	</main>


	<p class="no-results" v-else-if="results && results.length === 0">
		Could not find any results for {{ query }}.
	</p>

	<loading v-else></loading>


</template>

<script>

	import api from '../api/googleBooksAPI';
	import loading from './Loading.vue';

	export default {

		data() {
			return {
				isOffline: !navigator.onLine
			}
		},

		computed: {
			query() {
				return this.$route.params.query
			}
		},

		asyncComputed: {

			results() {
				let offline = this.isOffline; //makes isOffline a dependency so that when isOffline changes, results() is recomputed
				return this.query ? api.query(this.query) : Promise.resolve([]);
			}

		},

		components: {loading},

		mounted() {

			window.addEventListener('online', () => this.isOffline = false);
			window.addEventListener('offline', () => this.isOffline = true);

		}

	}

</script>