<template>

	<p class="no-results" v-if="error === 503">
		No volume with that ID was found.
	</p>

	<p class="no-results" v-else-if="error === 0">
		This volume is not available offline. To make it available offline, please add it to your favourites or visit it once, when you have a connection.
	</p>

	<main key="test" v-else-if="volume" class="volume-page">
		<div class="top-content">
			<img class="cover-image" v-if="volume.coverImage" :src="volume.coverImage">

			<div class="titles">
				<h1>{{ volume.volumeInfo.title }}</h1>
				<h2 v-if="volume.volumeInfo.subtitle">{{ volume.volumeInfo.subtitle }}</h2>
			</div>

		</div>

		<p @click="toggleBookmarked" class="favourite-button">
			<i v-if="isBookmarked" class="material-icons">star</i>
			<i v-else class="material-icons">star_border</i>
			{{isBookmarked ? 'Bookmarked' : 'Bookmark'}}
		</p>

		<div class="volume-details">
			<section class="property" v-if="volume.volumeInfo.authors">
				<h3>Authors</h3>
				<p>{{ volume.volumeInfo.authors.join(', ')}}</p>
			</section>

			<section class="property" v-if="volume.volumeInfo.publisher">
				<h3>Published By</h3>
				<p>{{ volume.volumeInfo.publisher }}</p>
			</section>

			<section class="property" v-if="volume.volumeInfo.publishedDate">
				<h3>Date Published</h3>
				<p>{{ volume.volumeInfo.publishedDate }}</p>
			</section>

			<section class="property" v-if="volume.volumeInfo.description">
				<h3>Description</h3>
				<p v-html="volume.volumeInfo.description"></p>
			</section>
		</div>

	</main>

	<loading v-else></loading>

</template>

<script>

	import loading from './Loading.vue';
	import api from '../api/googleBooksAPI';
	import db from '../api/indexedDBAPI';
	import cache from '../api/cacheAPI';

	export default {

		data() {

			return {
				error: null,
				isOnline: navigator.onLine
			}

		},

		computed: {
			volumeId() {
				return this.$route.params.id
			}
		},

		asyncComputed: {

			volume() {
				const volumeId = this.volumeId;
				const bookmarkPromise = db.getBookmarkedVolume(volumeId);

				const volume = bookmarkPromise.then((bookmarkVolume) => {
					if (bookmarkVolume) return bookmarkVolume;
					else {

						return db.getVolumeFromHistory(volumeId).then((historyVolume) => {
							if (historyVolume) return historyVolume;

							else {

								if (this.isOnline) {
									return api.getVolume(volumeId).catch(r => {this.error = 503; return null});
								}

								this.error = 0;
								return null;

							}
						});
					}
				});

				volume.then(v => {
					if (v) {
						cache.add(v.coverImage, true);
						cache.add(v.thumbnail, true);
						v.accessTime = Date.now();
						db.addToHistory(v)
					}

				});

				return volume;

			},

			isBookmarked() {
				return db.isBookmarked(this.volumeId)
			}

		},

		methods: {
			toggleBookmarked() {
				if (this.isBookmarked) {
					db.removeBookmark(this.volumeId);
					this.isBookmarked = false;
				}

				else {
					db.addBookmark(this.volume);
					this.isBookmarked = true;
				}
			}
		},

		components: {loading},

		mounted() {
			window.addEventListener('online', () => this.isOnline = true);
			window.addEventListener('online', () => this.isOnline = false)
		}


	}

</script>