#appContainer {
	height: 100%;
}

.app {
	height: 100%;

	form {
		height: 3.5em;
		border-bottom: 1px solid $colour-grey;
		text-align: right;
		padding: 12px;
		box-sizing: border-box;
		width: 100%;
		color: $colour-grey;
		margin: 0;
		position: fixed;
		top: 0;
		background-color: #fff;
		display: block;
		transition: all 0.2s linear;
		left: 0;
		z-index: 10;

		&.on-home {
			transform: translate(-50%, calc(70vh - 3em));
			border: 1px solid $colour-grey;
			width: 94%;
			max-width: 50em;
			left: 50%;
		}

		&.off-screen {
			transform: translate(0, -3.5em);
		}

		input, i {
			font-size: 1.6em;
			box-sizing: border-box;
			vertical-align: middle;
		}

		input {
			border: none;
			outline: none;
			width: calc(100% - 2.6em);
			padding: 0;
			margin: 0;
		}

		i {
			font-size: 2em;
			margin-left: -8px;
			width: 1em;
			cursor: pointer;
			transition: color 0.4s linear;
		}
	}

	main {
		padding-top: 3.5em;
		z-index: 1;
		margin-bottom: 3.2em;

	}

	nav {
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 1.6em;
		text-align: center;
		font-size: 2em;
		background-color: #fff;
		border-top: 1px solid $colour-grey;
		transition: transform 0.4s ease;

		a {
			font-size: 1.4em;
			color: $colour-grey;
			width: 31.5%;
			display: inline-block;

			&.current {

				&:first-child {
					color: $colour-tertiary;
				}

				&:nth-child(2) {
					color: $colour-secondary;
				}

				&:nth-child(3) {
					color: $colour-primary;
				}

			}

			i {
				font-size: inherit;
			}
		}

		&.on-home {
			transform: translateY(100%);
		}
	}
}

@media screen and (max-height: 400px) {
	.app {
		form {
			position: absolute;

			&.on-home {
				transform: translate(-50%, 15em);
			}
		}
	}
}