.app .home-page {
	width: 100%;
	padding-top: 20px;
	box-sizing: border-box;
	height: 100%;
	background-color: #fff;
	margin-bottom: 0;

	img {
		margin: auto;
		display: block;
		width: 40vh;
	}

	h1 {
		margin-top: 6px;
		text-align: center;
	}

	.links {
		position: absolute;
		bottom: 0;
		text-align: center;
		width: 100%;
		padding-top: 20px;

		a {
			display: inline-block;
			margin: 12px;
			width: 6em;
			color: $colour-grey;
			text-decoration: none;

			i {
				font-size: 2.6em;
			}

			p {
				margin: 0;
			}
		}
	}
}

@media screen and (max-height: 400px) {
	.app .home-page {

		img {
			width: 160px;
		}

		.links {
			bottom: auto;
			position: relative;
			margin-top: 4em;
		}

	}
}

@media screen and (min-height: 490px)  {

	.app .home-page {
		padding-top: 10vh;

		img {
			width: 200px;
		}

	}

}