.loading-page {

	svg {

		animation-duration: 4s;
		animation-name: searchloading;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-timing-function: ease-in-out;
		display: block;
		margin: auto;
		width: 30vw;
		max-width: 200px;
		height: auto;
		margin-top: 40vh;

	}

}

@keyframes searchloading {

	0% {
		fill: $colour-primary;
		transform: scale(1);
	}

	16.5% {
		transform: scale(0);
	}

	33% {
		fill: $colour-secondary;
		transform: scale(-1, 1);
	}

	49.5% {
		transform: scale(0);
	}

	66% {
		fill: $colour-tertiary;
		transform: scale(1);
	}

	82.5% {
		transform: scale(0);
	}

	100% {
		fill: $colour-primary;
		transform: scale(-1, 1);
	}

}