.app .bookmarks-page, .app .history-page {
	padding-top: 0;

	header {
		color: #ffffff;
		height: 3.5em;

		i {
			font-size: 2.6em;
			vertical-align: middle;
			padding: 8px;
			cursor: pointer;
		}

		h1 {
			vertical-align: middle;
			margin: 0;
			font-weight: normal;
			color: inherit;
			display: inline-block;
		}
	}
}