.results-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 100%;

	.result {
		border-bottom: 1px solid $colour-grey;
		height: 8em;
		background-color: #ffffff;

		&:last-child {
			border-bottom: none;
		}

		a {
			text-decoration: none;
			color: inherit;
			padding: 4px 0;
			display: block;
			height: 100%;
			box-sizing: border-box;

			.thumbnail {
				width: 7em;
				height: 100%;
				display: inline-block;

				img {
					height: 100%;
					width: 100%;
					object-fit: contain;
				}
			}

			.info {
				vertical-align: top;
				display: inline-flex;
				width: calc(100% - 7em - 2px);
				margin-left: -4px;
				height: 100%;
				overflow: hidden;
				flex-direction: column;
				justify-content: center;

				.title {
					margin-bottom: 12px;
				}

				p {
					margin: 0;
				}
			}
		}
	}
}

.no-results {
	text-align: center;
	margin: 100px 20px 0 20px;
	font-size: 1.2em;
	color: $colour-dark-grey;
}

@media screen and (min-width: 750px) {

	.results-list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding-top: 20px;
		justify-content: center;
		height: auto;
		min-height: 100%;

		.result {
			width: 400px;
			display: block;
			height: initial;
			padding: 12px;
			margin: 12px;
			border-radius: 2px;
			box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			transition: all 0.3s cubic-bezier(.25,.8,.25,1);

			&:hover {
				box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
			}

			&:last-child {
				border-bottom: none;
			}

			a {
				border: none;
				height: initial;

				.thumbnail {
					display: block;
					height: 10em;
					margin: auto;
				}

				.info {
					display: block;
					width: auto;
					height: auto;
					margin-left: 0;
					text-align: center;

					.title {
						font-weight: bold;
						font-size: 1.1em;
						margin-top: 6px;
						color: $colour-primary;
					}

					.author {
						color: $colour-grey;
					}

					p {
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;
					}
				}
			}
		}
	}
}