.volume-page {
	padding-top: 1em;
	text-align: center;
	background-color: #fff;
	min-height: calc(100% - 3.2em);
	box-sizing: border-box;

	.top-content {
		.cover-image {
			object-fit: contain;
			height: 20em;
			margin: 1em auto 2em auto;

			display: block;
			max-width: 100%;
		}

		h1 {
			margin-bottom: 6px;

		}

		h2 {
			margin-top: 0;
			font-size: 1.3em;
			color: $colour-secondary;
		}
	}


	.favourite-button {
		color: $colour-tertiary;
		border-top: 1px solid $colour-grey;
		border-bottom: 1px solid $colour-grey;
		padding: 1em 0;
		margin: 3em 0;
		cursor: pointer;

		i {
			display: block;
			font-size: 3em;
			color: $colour-secondary;
		}
	}

	.volume-details {
		.property {
			padding: 0 6px 0 6px;

			h3 {
				color: $colour-primary;
				margin-bottom: 0;
			}

			p {
				color: $colour-tertiary;
				margin-top: 0;
			}
		}
	}
}

@media screen and (min-width: 750px) {

	.volume-page {
		background-color: #fff;

		.top-content {
			text-align: left;

			.cover-image {
				display: inline-block;
				margin: 40px;
				vertical-align: top;
			}

			.titles {
				display: inline-block;
				margin-top: 40px;

				h1 {
					margin-top: 60px;
				}
			}

		}

		.favourite-button {
			display: inline-block;
			position: absolute;
			margin: 0;
			top: 4em;
			right: 1em;
			padding: 0;
			border-top: none;
			border-bottom: none;
		}

		.volume-details {
			text-align: left;
			max-width: 1000px;
			margin: auto;
			padding-bottom: 2em;
		}

	}

}