body, html {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	width: 100%;
}

i {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}